fastapi
uvicorn
pandas
numpy
streamlit
plotly
reportlab
openpyxl
langchain
langchain-community
langgraph
langchain-openai
chromadb
sentence-transformers
faiss-cpu
google-genai
openai
python-dotenv
pydantic
oracledb
mcp>=1.2.0
